@import "../../../assets/scss/variables";

.bike-tile {
  background-color: white;
  position: relative;
  border: 0.1rem solid $light-grey;
  border-radius: 0.4rem;
  height: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  cursor: pointer;

  .bike-available {
    background-color: rgba($grey-background, 0.8);
    border-radius: 0.4rem;
    padding: 0.4rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: $small-fontsize;
    color: $white-font-color;
  }

  .mat-icon {
    height: 1.6rem;
    width: 1.8rem;
  }

  .bike-info {
    padding: 0.8rem;

    &_brand {
      font-size: $h5-fontsize;
      color: $dark-text-color;
    }

    &_name {
      font-size: $small-fontsize;
      color: $dark-text-color;
    }

    &_price-week {
      font-size: $small-fontsize;
    }

    &_size {
      font-size: $small-fontsize;
      color: $light-text-color;
      margin-top: 0.4rem;
    }

    &_rating {
      font-size: $small-fontsize;
      color: $light-text-color;
      width: 8.4rem;
      margin-top: 0.4rem;
    }

    &_price {
      width: 8.4rem;
      line-height: 2rem;
    }

    &_content {
      max-width: 70%;
      line-height: 2rem;
    }

    &_price-day {
      color: $main-blue;
      font-size: $h5-fontsize;
      white-space: nowrap;
    }

    &_price-week {
      white-space: nowrap;
    }

    &_price-xs {
      display: none;
    }
  }
}

@media (min-width: $device-sm) {
  .bike-tile {
    &_wrap-img {
      width: 100%;
      position: relative;
      border-bottom: 0.1rem solid $light-grey;

      &::before {
        content: "";
        display: block;
        padding-top: 67.667%;
        float: left;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
        position: absolute;
        border-top-left-radius: 0.4rem;
        border-top-right-radius: 0.4rem;
      }
    }
  }
}

@media (max-width: $device-sm) {
  .bike-tile {
    flex-direction: row;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-height: 13rem;

    .bike-available {
      top: 0.2rem;
      right: initial;
      left: 0.2rem;
    }

    .bike-info {
      width: 60%;

      &_content {
        max-width: 100%;
      }

      &_price-xs {
        display: flex;
        flex-direction: column;
        float: right;
        margin: 0;
      }

      &_price-day {
        padding-bottom: 0.4rem;
      }

      &_price {
        display: none;
      }

      &_rating {
        display: none;
      }
    }

    .bike-tile {
      &_wrap-img {
        width: 40%;
        border-right: 1px solid $light-grey;

        img {
          width: 100%;
          height: 100%;
          max-width: 19rem;
          border-top-left-radius: 0.4rem;
          border-top-right-radius: 0;
          border-bottom-left-radius: 0.4rem;
        }
      }
    }
  }
}

@media (min-width: $device-tablet) and (max-width: $device-lg) {
  .bike-tile {
    .bike-info {
      &_brand, &_price-day {
        font-size: $h5-fontsize;
      }

      &_price-day {
        font-size: $h5-fontsize;
      }

      &_name, &_price-week, &_size, &_rating {
        font-size: $small-fontsize - 0.2rem;
      }
    }
  }
}

//Styles for bike tiles on map

@media (min-width: $device-lg) {
  .bike-tile_map-view.bike-tile {
    width: 21rem;

    &_wrap-img {
      height: 12rem;
    }
  }
}

@media (min-width: $device-xl) {
  .bike-info {
    &_brand, &_price-day {
      font-size: $h4-fontsize;
    }

    &_price-day {
      font-size: $h4-fontsize;
    }
  }
}
