<div [ngClass]="{'bike-tile_mobile-view': isMobileView}">
  <div class="bike-tile text-decoration-none flex direction-column"
       [ngClass]="{'bike-tile_map-view': isMapView}"
       *ngIf="!isMobileMap; else mobileBikeTemplate">
    <div class="bike-tile_wrap-img">
      <img src="{{image}}"
           alt=""
      />
    </div>
    <div class="bike-info">
      <div *ngIf="clusterParams" class="bike-available regular">
        {{amount}} Variants available
      </div>
      <div class="flex justify-content-between">
        <div class="bike-info_content flex direction-column">
          <span class="bike-info_brand text-ellipsis medium">{{brand}}</span>
          <span class="bike-info_name text-ellipsis">{{bikeName}}</span>
        </div>
        <div class="bike-info_price align-items-left flex direction-column">
        <span *ngIf="price === 0"
              class="bike-info_price-day medium">
          Free
        </span>
          <div *ngIf="price > 0"
               class="flex direction-column">
          <span class="bike-info_price-day medium">
            {{price | number: '1.0-0' }} €/day
          </span>
            <span class="bike-info_price-week">
            {{weeklyPrice * 7 | number: '1.0-0' }} €/week
          </span>
          </div>
        </div>
      </div>
      <div class="flex justify-content-between">
        <div class="bike-info_content flex direction-column">
          <div class="bike-info_size flex direction-row align-items-center">
            <span class="text-ellipsis">Size: {{size}}</span>
            <div *ngIf="distance"
                 class="flex direction-row align-items-center">
              <mat-icon class="heading-6" aria-hidden="false" aria-label="">room</mat-icon>
              <span>{{distance}} km</span>
            </div>
          </div>
        </div>

        <div class="bike-info_price align-items-left flex direction-column">
          <div class="bike-info_rating flex direction-row align-items-center"
               *ngIf="rating">
            <mat-icon class="heading-6" aria-hidden="false" aria-label="">
              grade
            </mat-icon>
            <span>{{ratingAverage | number: '1.2-2'}} ({{rating}})</span>
          </div>
        </div>
      </div>
      <div class="bike-info_price-xs flex direction-column m-b-1">
        <span class="bike-info_price-day p-b-1 medium">{{price | number: '1.0-0'}} €/day </span>
        <span>{{weeklyPrice * 7| number: '1.0-0'}} €/week </span>
      </div>
    </div>
  </div>
</div>

<ng-template #mobileBikeTemplate>
  <lnr-bike-tile-mobile-map-view
    [image]="image"
    [brand]="brand"
    [bikeName]="bikeName"
    [price]="price"
    [weeklyPrice]="weeklyPrice"
    [rating]="rating"
    [ratingAverage]="ratingAverage"
    [size]="size"
  >
  </lnr-bike-tile-mobile-map-view>
</ng-template>
