@import "../../../assets/scss/variables";

.bike-tile {
  background-color: white;
  position: relative;
  border: 0.1rem solid $light-grey;
  border-radius: 0.4rem;
  height: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;

  .bike-available {
    background-color: rgba($grey-background, 0.8);
    border-radius: 0.4rem;
    padding: 0.4rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: $small-fontsize;
    color: $white-font-color;
  }

  .mat-icon {
    height: 1.8rem;
  }

  .bike-info {
    padding: 1rem;

    &_brand {
      font-size: $h4-fontsize;
      color: $dark-text-color;
    }

    &_name, &_price-week {
      font-size: $small-fontsize;
    }

    &_size {
      font-size: $small-fontsize;
      color: $light-text-color;
    }

    &_rating {
      font-size: $small-fontsize;
      color: $light-text-color;
    }

    &_price-day {
      color: $main-blue;
      font-size: $h4-fontsize;
      white-space: nowrap;
    }

    &_price-week {
      white-space: nowrap;
    }

    &_price-xs {
      display: none;
    }
  }

  img {
    max-height: 18rem;
    object-fit: cover;
  }
}

.mobile-map-bike-tile {
  background-color: white;
  position: relative;
  height: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;

  img {
    max-height: 18rem;
    object-fit: cover;
  }
}


@media screen and (max-width: $device-sm) {
  .bike-tile {
    flex-direction: row;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;

    .bike-available {
      top: 0.2rem;
      right: initial;
      left: 0.2rem;
    }

    .bike-info {
      width: 60%;

      &_content {
        max-width: 100%;
      }

      &_price-xs {
        display: flex;
        flex-direction: column;
        float: right;
        margin: 0;
      }

      &_price-day {
        padding-bottom: 0.4rem;
      }

      &_price {
        display: none;
      }

      &_rating {
        display: none;
      }
    }

    img {
      width: 40%;
    }
  }
}

@media only screen and (min-width: $device-md) and (max-width: $device-lg) {
  .bike-info {
    &_price {
      flex: 0 0 50%;
      max-width: 50%;
    }

    &_content {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
}

@media only screen and (min-width: $device-lg) and (max-width: $device-xl - 250px) {
  .bike-info {
    &_price {
      flex: 0 0 40%;
      max-width: 40%;
    }

    &_content {
      flex: 0 0 60%;
      max-width: 60%;
    }
  }
}

@media only screen and (min-width: $device-sm) and (max-width: $device-md) {
  .bike-info {
    &_price {
      flex: 0 0 40%;
      max-width: 40%;
    }

    &_content {
      flex: 0 0 60%;
      max-width: 60%;
    }
  }
}

@media (min-width: $device-xl) and (max-width: $device-xl + 300px) {
  .bike-info {
    &_price {
      flex: 0 0 40%;
      max-width: 40%;
    }

    &_content {
      flex: 0 0 60%;
      max-width: 60%;
    }
  }
}
