<div class="bike-tile flex direction-column" *ngIf="!isMobileMap; else mobileBikeTemplate">
  <img src="{{image}}"
       alt=""
  />
  <div class="bike-info">
    <div *ngIf="clusterParams" class="bike-available regular">
      {{amount}} Variants available
    </div>
    <div class="row">
      <div class="col-xl-8 col-lg-7 col-sm-8 col-xs-12 bike-info_content flex direction-column">
        <span class="bike-info_brand text-ellipsis medium">{{brand}}</span>
        <span class="bike-info_name text-ellipsis">{{bikeName}}</span>
        <div class="m-t-1 bike-info_size flex direction-row align-items-center">
          <span>Size: {{size}}</span>
          <div *ngIf="distance"
               class="flex direction-row align-items-center">
            <mat-icon class="heading-5" aria-hidden="false" aria-label="">room</mat-icon>
            <span>{{distance}} km</span>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-5 col-sm-4 col-xs-12 bike-info_price align-items-end flex direction-column">
        <span *ngIf="price === 0"
              class="bike-info_price-day medium">
          Free
        </span>
        <div *ngIf="price > 0"
             class="flex direction-column">
          <span class="bike-info_price-day medium">
            {{price | number: '1.0-0' }} €/day
          </span>
          <span class="bike-info_price-week">
            {{weeklyPrice * 7 | number: '1.0-0' }} €/week
          </span>
        </div>
        <div class="bike-info_rating flex direction-row align-items-center m-t-1"
             *ngIf="rating"
        >
          <mat-icon class="heading-5" aria-hidden="false" aria-label="">
            grade
          </mat-icon>
          <span>{{ratingAverage | number: '1.0-0'}} ({{rating}})</span>
        </div>
      </div>
    </div>
    <div class="bike-info_price-xs flex direction-column m-b-1">
      <span class="bike-info_price-day p-b-1 medium">{{price | number: '1.0-0'}} €/day </span>
      <span>{{weeklyPrice * 7| number: '1.0-0'}} €/week </span>
    </div>
  </div>
</div>
<ng-template #mobileBikeTemplate>
  <div class="mobile-map-bike-tile flex direction-column">
    <img src="{{image}}"
         alt=""
    />
    <div class="bike-info">
      <div class="row">
        <div class="col-xl-8 col-lg-7 col-sm-8 col-xs-12 bike-info_content flex direction-column">
          <span class="bike-info_brand text-ellipsis medium">{{brand}}</span>
          <span class="bike-info_name text-ellipsis">{{bikeName}}</span>
          <div class="col-xl-4 col-lg-5 col-sm-4 col-xs-12 bike-info_price align-items-end flex direction-column">
            <span class="bike-info_price-day medium">{{price | number: '1.0-0'}} €/day </span>
          </div>
        </div>
      </div>
    </div>
  </div>

</ng-template>
