@import "../../../../assets/scss/variables";

.wrap-top-menu {
  ul {
    list-style-type: none;
  }

  .header-list-item {
    a {
      text-decoration: none;
      font-size: $small-fontsize;
      color: $white-font-color;
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }

  .selected {
    mat-icon {
      transform: rotate(-180deg);
    }
  }
}

@media (max-width: $device-md) {
  .wrap-top-menu {

    .mat-drawer-container {
      background: none;
    }

    .mat-list-item {
      color: $white-font-color;
      display: flex;
      justify-content: center;
    }

    .mat-drawer {
      right: 0;
      width: 100%;
      z-index: 4;
      background: $dark-background;
      padding: 2rem;
      transform: scaleX(0);
      transform-origin: right;
      transition: all .25s ease-out;
    }
  }
}

.user-avatar {
  img {
    max-width: 3.4rem;
    border-radius: 50%;
  }
}

.sidenav-user-avatar {
  max-width: 7rem;
  border-radius: 50%;
}
