<div class="wrap-top-menu">
  <div class="d-block d-lg-none">
    <mat-sidenav-container>
      <mat-sidenav #sidenav
                   (keydown.escape)="close('escape')"
                   disableClose
                   [fixedInViewport]="mobileQuery.matches"
                   fixedTopGap="0">
        <mat-icon class="white"
                  (click)="close('toggle button')">
          close
        </mat-icon>
        <mat-nav-list *ngIf="!isLoggedIn">
          <a mat-list-item (click)="signUp()">Sign Up</a>
          <a mat-list-item (click)="login()">Login</a>
          <a mat-list-item routerLink=".">List a bike</a>
          <a mat-list-item routerLink=".">How it works</a>
          <a mat-list-item routerLink=".">Trust & Safety</a>
        </mat-nav-list>
        <mat-nav-list *ngIf="isLoggedIn"
                      class="t-align-center m-t-2">
          <img  class="sidenav-user-avatar p-2" [src]="(user$ | async)?.profile_picture?.profile_picture?.url | profilePicturePipe" alt="user-avatar"/>

          <a mat-list-item routerLink=".">My Bike</a>
          <a mat-list-item routerLink=".">List a bike</a>
          <a mat-list-item routerLink="/settings">Settings</a>
          <a mat-list-item routerLink=".">Invite Friends</a>
          <a mat-list-item routerLink=".">Invoices</a>
          <a mat-list-item (click)="logOut()">Log out</a>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <a (click)="sidenav.toggle()">
          <mat-icon class="white">
            menu
          </mat-icon>
        </a>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  <nav class="flex align-items-center direction-row d-none d-lg-block">
    <ul class="flex direction-row content-end align-items-center header-list">
      <li class="header-list-item">
        <button
          mat-button [matMenuTriggerFor]="subMenu"
          class="d-none d-md-block">
          Learn more
          <mat-icon class="white">
            arrow_drop_down
          </mat-icon>
        </button>
        <mat-menu #subMenu="matMenu">
          <button mat-menu-item>How it works</button>
          <button mat-menu-item>Listing a bike</button>
          <button mat-menu-item>Renting a bike</button>
          <mat-divider></mat-divider>
          <button mat-menu-item>Trust & Safety</button>
          <button mat-menu-item>Help & Support</button>
        </mat-menu>
      </li>
<!--      <li class="header-list-item">-->
<!--        <lnr-list-my-bike-button></lnr-list-my-bike-button>-->
<!--      </li>-->
      <li *ngIf="!isLoggedIn" class="header-list-item lnr-d-flex">
        <button mat-button color="white" routerLink="/list-bike">List a bike</button>
        <button mat-button color="white" (click)="signUp()">Sign up</button>
        <button mat-button color="white" (click)="login()">Login</button>

      </li>
      <li *ngIf="isLoggedIn"
          class="header-list-item">
        <a href="">Request</a>
      </li>
      <li *ngIf="isLoggedIn"
          class="header-list-item">
        <button
          mat-button
          [matMenuTriggerFor]="userMenu"
          class="user-avatar">
          <img [src]="(user$ | async)?.profile_picture?.profile_picture?.url | profilePicturePipe" alt="user-avatar"/>
        </button>

        <mat-menu #userMenu="matMenu">
          <button mat-menu-item [routerLink]="'/users/' + (user$ | async)?.id">Profile</button>
          <button mat-menu-item>Requests</button>
          <button mat-menu-item>My Bikes</button>
          <mat-divider></mat-divider>
          <button mat-menu-item routerLink="/settings">Settings</button>
          <button mat-menu-item>Invite Friends</button>
          <button mat-menu-item>Invoices</button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="logOut()">Log out</button>
        </mat-menu>
      </li>
    </ul>
  </nav>
</div>
