.row{
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;

  mat-form-field {
    width: 100%;
  }
}

mat-dialog-actions{
  display: flex;
  align-items: center;
  button {
    margin: 0.5rem auto;
  }
}
