<div class="lnr-dialog-header lnr-text-align-ctr">
  <h2 mat-dialog-title>Log in</h2>
  <lnr-button-close (closed)="close()"></lnr-button-close>
</div>

<mat-dialog-content>

  <form [formGroup]="availabilityForm">
    <div class="row">
      <mat-form-field appearance="outline">
        <input matInput
               class="filter-input"
               placeholder="Choose a date"
               formControlName="start"
               [max]="maxDate"
               [satDatepicker]="startResultPicker"
               (dateInput)="onDateInput($event)"
               (dateChange)="onDateChange($event)">
        <sat-datepicker panelClass="hdd-datepicker"
                        #startResultPicker [rangeMode]="true">
        </sat-datepicker>
        <sat-datepicker-toggle matSuffix [for]="startResultPicker"></sat-datepicker-toggle>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <input matInput
               class="filter-input"
               placeholder="Choose a date"
               formControlName="end"
               [max]="maxDate"
               [satDatepicker]="endResultPicker"
               (dateInput)="onDateInput($event)"
               (dateChange)="onDateChange($event)">
        <sat-datepicker panelClass="hdd-datepicker"
                        #endResultPicker [rangeMode]="true">
        </sat-datepicker>
        <sat-datepicker-toggle matSuffix [for]="endResultPicker"></sat-datepicker-toggle>
      </mat-form-field>
    </div>
  </form>

</mat-dialog-content>

<mat-dialog-actions class="lnr-d-flex lnr-space-btw">
  <button mat-raised-button color="primary" type="submit" (click)="submit()">
    OK
  </button>

</mat-dialog-actions>
