<div class="lnr-dialog-header">
  <h2 mat-dialog-title class="lnr-text-align-ctr">Sign up</h2>

  <mat-error>
    <lnr-http-error-message
      [error]="signUpError || signUpFacebookError || socialUserError"
    >
    </lnr-http-error-message>
  </mat-error>

  <lnr-button-close (closed)="close()"></lnr-button-close>
</div>

<mat-dialog-content>
  <div class="row lnr-mrg-btm">
    <div class="col-sm-12">
      <div class="tabs">
        <div class="buttons-wrap" [ngClass]="tabType">
          <button
            mat-button
            (click)="toggleTab('private')"
            [ngClass]="{ active: showPrivate }"
          >
            Private
          </button>
          <button
            mat-button
            (click)="toggleTab('business')"
            [ngClass]="{ active: showBusiness }"
          >
            Business
          </button>
        </div>
      </div>
    </div>
  </div>

  <form
    *ngIf="form"
    [formGroup]="form"
    (ngSubmit)="signUp()"
    lnrFocusFirstInvalidField
  >
    <div formGroupName="business" [hidden]="!(tabType === 'business')">
      <div class="row">
        <div class="col-sm-12">
          <mat-form-field appearance="outline" class="lnr-w-100">
            <mat-label>Company name</mat-label>
            <input
              formControlName="company_name"
              type="text"
              matInput
              placeholder="Enter your company name"
            />
            <mat-error
              *ngIf="
                businessForm.get('company_name').touched &&
                businessForm.get('company_name').errors
              "
            >
              <span *ngIf="businessForm.get('company_name').errors?.required"
                >Company name is required</span
              >
              <span *ngIf="businessForm.get('company_name').errors?.minlength"
                >Min length is 2</span
              >
              <span *ngIf="businessForm.get('company_name').errors?.maxlength"
                >Max length is 50</span
              >
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div formGroupName="user">
      <div class="row">
        <div class="col-sm-6">
          <mat-form-field appearance="outline" class="lnr-w-100">
            <mat-label>First Name</mat-label>
            <input
              formControlName="first_name"
              type="text"
              matInput
              placeholder="Enter your first name"
              lnrAutofocus
            />
            <mat-error
              *ngIf="
                userForm.get('first_name').touched &&
                userForm.get('first_name').errors
              "
            >
              <span *ngIf="userForm.get('first_name').errors?.required"
                >First name is required</span
              >
              <span *ngIf="userForm.get('first_name').errors?.minlength"
                >Min length is 2</span
              >
              <span *ngIf="userForm.get('first_name').errors?.maxlength"
                >Max length is 50</span
              >
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-sm-6">
          <mat-form-field appearance="outline" class="lnr-w-100">
            <mat-label>Last Name</mat-label>
            <input
              formControlName="last_name"
              type="text"
              matInput
              placeholder="Enter your last name"
            />
            <mat-error
              *ngIf="
                userForm.get('last_name').touched &&
                userForm.get('last_name').errors
              "
            >
              <span *ngIf="userForm.get('last_name').errors?.required"
                >Last name is required</span
              >
              <span *ngIf="userForm.get('last_name').errors?.minlength"
                >Min length is 2</span
              >
              <span *ngIf="userForm.get('last_name').errors?.maxlength"
                >Max length is 50</span
              >
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <mat-form-field appearance="outline" class="lnr-w-100">
            <mat-label>Email</mat-label>
            <input
              formControlName="email"
              type="email"
              matInput
              placeholder="Enter your email"
            />
            <mat-error
              *ngIf="
                userForm.get('email').touched && userForm.get('email').errors
              "
            >
              <span *ngIf="userForm.get('email').errors?.required"
                >Email is required</span
              >
              <span
                *ngIf="
                  !userForm.get('email').errors?.required &&
                  userForm.get('email').errors?.wrongMail
                "
                >Email is wrong</span
              >
              <span
                *ngIf="
                  !userForm.get('email').errors?.required &&
                  userForm.get('email').errors?.noAt
                "
                >Email need contain "@"</span
              >
              <span
                *ngIf="
                  !userForm.get('email').errors?.required &&
                  userForm.get('email').errors?.noName
                "
                >Wrong email format</span
              >
              <span
                *ngIf="
                  !userForm.get('email').errors?.required &&
                  userForm.get('email').errors?.wrongDomain
                "
                >Wrong domain</span
              >
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field appearance="outline" class="lnr-w-100">
            <mat-label>Password</mat-label>
            <input
              formControlName="password"
              type="password"
              matInput
              placeholder="Password"
            />
            <mat-error
              *ngIf="
                userForm.get('password').touched &&
                userForm.get('password').errors
              "
            >
              <span *ngIf="userForm.get('password').errors.required"
                >Password is required</span
              >
              <span *ngIf="userForm.get('password').errors?.minlength"
                >Min length is 6</span
              >
              <span *ngIf="userForm.get('password').errors?.maxlength"
                >Max length is 50</span
              >
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>

    <!--    <lnr-divider class="lnr-mrg-btm-sm" text="Accept our Terms and Conditions" [required]="true"></lnr-divider>-->

    <div class="lnr-checkbox" formGroupName="user">
      <mat-checkbox formControlName="terms">
        I hereby agree to the
        <a target="_blank" rel="noopener noreferrer" [routerLink]="'/terms'">
          Terms and Conditions
        </a>
        and agree to the
        <a target="_blank" rel="noopener noreferrer" [routerLink]="'/privacy'">
          Privacy Policy
        </a>
        .
      </mat-checkbox>
    </div>

    <!--    <lnr-divider class="lnr-mrg-btm-sm" text="Subscribe to newsletter"></lnr-divider>-->

    <div
      class="lnr-checkbox lnr-mrg-btm"
      formGroupName="notification_preference"
    >
      <mat-checkbox formControlName="newsletter">
        I would like to receive the listnride e-mail newsletter
      </mat-checkbox>
    </div>

    <div [matTooltip]="submitBtnTooltip">
      <button
        mat-raised-button
        color="primary"
        class="lnr-w-100 lnr-mrg-btm-sm"
        type="submit"
        [disabled]="
          (showPrivate && userForm.invalid) ||
          (showBusiness && (userForm.invalid || businessForm.invalid)) ||
          signUpPending ||
          signUpFacebookPending
        "
        [matTooltip]="submitBtnTooltip"
      >
        Sign up
        <lnr-loader-spinner-small [hidden]="!signUpPending">
        </lnr-loader-spinner-small>
      </button>
    </div>

    <lnr-divider class="lnr-mrg-btm-sm" text="or"></lnr-divider>

    <div>
      <button
        mat-raised-button
        type="button"
        class="lnr-w-100 lnr-mrg-btm lnr-fb-button"
        color="primary"
        (click)="signUpFB()"
        [disabled]="
          signUpPending ||
          signUpFacebookPending ||
          (showBusiness && businessForm.invalid)
        "
      >
        Sign up with Facebook
        <lnr-loader-spinner-small
          [hidden]="!socialUserPending && !signUpFacebookPending"
        >
        </lnr-loader-spinner-small>
      </button>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="lnr-d-flex lnr-space-btw">
  <a (click)="openLoginDialog()">Already signed up?</a>
</mat-dialog-actions>
