@import "../../../../../../assets/scss/variables";

::ng-deep .tabs {
  text-align: center;
  background: $white;

  .buttons-wrap {
    display: inline-block;
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 50%;
      height: 3px;
      background: $main-blue;
      transition: left 0.1s;
    }

    &.private {
      &:after {
        left: 0;
      }
    }

    &.business {
      &:after {
        left: 50%;
      }
    }
  }

  button {
    position: relative;
    box-sizing: content-box;
    border-radius: 0;
    height: 41px;

    &.active {
      color: $main-blue;
      &:after {

      }
    }
  }
}
