@import 'variables.scss';

h3 {
  color: $social-media-bg-hover;
  font-size: $h3-fontsize;
  font-weight: normal;
  margin-bottom: 14px;
}

div.paymentMethod {
  div.pay:first-child {
    border-bottom: 1px solid $input-border;
    border-top: 1px solid $input-border;
    padding: 2rem;
  }

  div.pay {
    align-items: center;
    border-bottom: 1px solid $input-border;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
  }

  div.pay > div {
    display: flex;
  }

  img {
    height: 3rem;
  }

  input[type='radio'] {
    display: none;
  }

  label.custom-checkbox {
    align-items: center;
    border: 0.1rem solid $input-border;
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    height: 3rem;
    justify-content: center;
    width: 3rem;
  }

  span {
    margin-left: 1rem;
  }

  input:checked ~ label::before {
    content: '\2714';
  }
}
