//colors
$main-blue: #7ab2f8;
$light-grey: #ccc;
$dark-text-color: #353441;
$light-text-color: #7c7c84;
$grey-background: #586067;
$white-font-color: white;

// Header Styles
$h1-fontsize: 4rem;
$h2-fontsize: 3rem;
$h3-fontsize: 2.4rem;
$h4-fontsize: 1.8rem;
$h5-fontsize: 1.2rem;
$h6-fontsize: 1rem;

$magic-padding: 24px;
$line-height: 24px;

//device sizes
$device-xs: 540px;
$device-sm: 768px;
$device-md: 992px;
$device-lg: 1200px;
$device-extra-lg: 1600px;
