//colors
$main-blue: #7ab2f8;
$light-grey: #ccc;
$dark-text-color: #353441;
$dark-background: rgb(52, 57, 64);
$light-text-color: #7c7c84;
$grey-background: #586067;
$white-font-color: #FFF;
$submit-button-color: #5FC693;

// Header Styles
$h1-fontsize: 6rem;
$h2-fontsize: 5rem;
$h3-fontsize: 4rem;
$h4-fontsize: 2rem;
$h5-fontsize: 1.8rem;
$h6-fontsize: 1.6rem;
$small-fontsize: 1.4rem;

//device sizes
$device-xs: 540px;
$device-sm: 768px;
$device-md: 992px;
$device-lg: 1200px;
$device-xl: 1600px;

