<div class="lnr-checkbox" [formGroup]="parentForm" *ngIf="parentFormGroupName">
  <div class="lnr-d-flex" [formGroupName]="parentFormGroupName">
    <mat-checkbox [formControlName]="parentFormControlName"></mat-checkbox>
    <p>
      <small>I would like to receive the listnride e-mail newsletter with
        interesting content on cycling, community
        updates and exclusive benefits. The
        <lnr-link [href]="'/privacy'">
          Privacy Policy
        </lnr-link>
        of listnride applies. I can revoke my consent at any
        time.
      </small>
    </p>
  </div>
</div>

<div class="lnr-checkbox lnr-d-flex" [formGroup]="parentForm" *ngIf="!parentFormGroupName">
  <mat-checkbox [formControlName]="parentFormControlName"></mat-checkbox>
  <p>
    <small>I would like to receive the listnride e-mail newsletter with
      interesting content on cycling, community
      updates and exclusive benefits. The
      <lnr-link [href]="'/privacy'">
        Privacy Policy
      </lnr-link>
      of listnride applies. I can revoke my consent at any
      time.
    </small>
  </p>
</div>
