:host {


  .content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    .bike-tile {
      display: flex;
      flex-direction: column;
      border: 1px solid #ccc;
      margin: 1rem;
      width: calc(47% - 1rem);
    }
  }
}
