<div class="content" infinite-scroll [infiniteScrollDistance]="5" [scrollWindow]="false" (scrolled)="onScrollDown($event)">
  <div class="toolbar">
    <mat-google-maps-autocomplete
      (onAutocompleteSelected)="onAutocompleteSelected($event)">
    </mat-google-maps-autocomplete>

    <!-- <app-filters></app-filters> -->
  </div>
<div class="bike-grid">
  <div *ngFor="let ride of displayBikes$ | async">
    <app-bike-tile
      [brand]="ride.brand"
      [bikeName]="ride.name"
      [image]="ride.image_file"
      [size]="ride.size"
      [price]="ride.price_from"
      [rating]="ride.rating_average"
      [distance]="ride.distance"
      [clusterParams]="ride.cluster"
      [amount]="ride.cluster ? ride.cluster.variations.length : null"
    ></app-bike-tile>
    <!--    TODO add bike height-->
    <!--    [bikeHeight]="ride.cluster.sizes.size"-->
  </div>

</div>
</div>

<div class="map-container">
  <agm-map [latitude]="location.lat" [longitude]="location.lng" [zoom]="15" [styles]="mapStyles">
    <agm-marker-cluster [minimumClusterSize]= "2" [styles]="clusterStyles">
      <agm-marker *ngFor="let pin of pins"
                  [latitude]="pin.lat_rnd"
                  [longitude]="pin.lng_rnd"
                  [iconUrl]="{url:'./assets/ui_icons/map/pin_map.png'}"
                  [label]="{text: pin.price + '€', color: 'white', fontSize: '13px', fontWeight: 'bold'}"
      ></agm-marker>
    </agm-marker-cluster>
</agm-map>
</div>
