:host {
  display: flex;
  flex-direction: row;

  mat-google-maps-autocomplete {
    width: 100%;
    display: flex;
    flex: 0 0 1;
  }
  agm-map {
    display: flex;
    flex: 1;
    height: calc(100vh - 50px);
    width: 50vh;
  }

  .content {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 50px);
    max-width: 1200px;
    margin: 0 auto;
    overflow: scroll;

    .toolbar {
      width: 100%;
      max-width: 1200px;
      display: flex;
      flex: 1;
      flex-direction: column;
      margin: 0 auto;
    }

    .bike-grid {
      display: flex;
      flex: 1;
      flex-wrap: wrap;
      flex-direction: row;
    }

    .bike-tile {
      display: flex;
      flex-direction: column;
      border: 1px solid #ccc;
      margin: 1rem;
      width: calc(29%);

      img {
        width: 100%;
      }
    }
  }
}
