@import 'variables';

.needHelp {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 18.4rem;
  justify-content: center;
  margin-top: 2rem;
  width: 45.8rem;

  @media (max-width: $device-xs) {
    width: 100%;
  }

  a {
    color: $main-green;
  }

  div {
    align-items: center;
    display: flex;
    flex-direction: column;

    img {
      border-radius: 50%;
      height: 7.5rem;
      width: 7.5rem;
    }
  }
}
