<div class="lnr-dialog-header t-align-center">
  <h2 mat-dialog-title>Log in</h2>
  <lnr-button-close (closed)="onClose()"></lnr-button-close>
</div>

<form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()" focusFirstInvalidField>

  <mat-dialog-content>

    <mat-error *ngIf="error">
      <lnr-http-error-message [error]="error"></lnr-http-error-message>
    </mat-error>

    <app-lnr-auth-login-facebook-button class="w-p-100 m-b-2"></app-lnr-auth-login-facebook-button>

    <lnr-divider class="m-b-2" text="or"></lnr-divider>

    <mat-form-field appearance="outline" class="w-p-100">
      <mat-label>Email</mat-label>
      <input formControlName="email"
             type="email"
             matInput
             placeholder="Enter your email"
             lnrAutofocus
      >
      <mat-error *ngIf="form.get('email').touched && form.get('email').errors">
        <small *ngIf="form.get('email').errors?.required">Email is required</small>
        <small *ngIf="form.get('email').errors?.wrongMail">Email is wrong</small>
        <small *ngIf="form.get('email').errors?.noAt">Email need contain "@"</small>
        <small *ngIf="form.get('email').errors?.noName">Wrong email format</small>
        <small *ngIf="form.get('email').errors?.wrongDomain">Wrong domain</small>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-p-100">
      <mat-label>Password</mat-label>
      <input formControlName="password"
             type="password"
             matInput
             placeholder="Password">
      <mat-error *ngIf="form.get('password').touched && form.get('password').errors">
        <small *ngIf="form.get('password').errors.required">Password is required</small>
      </mat-error>
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions class="flex justify-content-between">

    <lnr-auth-forgot-password-button></lnr-auth-forgot-password-button>

    <button mat-raised-button
            type="submit">
      Log in
      <lnr-loader-spinner-small *ngIf="loading"></lnr-loader-spinner-small>
    </button>

  </mat-dialog-actions>

</form>
