<div class="swiper-container swiper-bikes">
  <div class="swiper-wrapper"
       *ngIf="bikes$">
    <div *ngFor="let bike of bikes$ | async"
         class="swiper-slide cursor-pointer">
      <div class="bike-slide col-md-12 p-0">
        <lnr-bike-card
          [bike]="bike"
          [isMobileView]="false">
        </lnr-bike-card>
      </div>
    </div>
  </div>
  <div class="d-none d-lg-block">
    <div class="swiper-button-prev">
    </div>
    <div class="swiper-button-next">
    </div>
  </div>
</div>
