<footer class="lnr-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <lnr-link-list [title]="'Listnride'" [links]="links.listnride"></lnr-link-list>
      </div>
      <div class="col-sm-2">
        <lnr-link-list [title]="'Learn more'" [links]="links.learnMore"></lnr-link-list>
      </div>
      <div class="col-sm-2">
        <lnr-link-list [title]="'Top countries'" [links]="links.topCountries"></lnr-link-list>
      </div>
      <div class="col-sm-2">
        <lnr-link-list [title]="'Legal'" [links]="links.legal"></lnr-link-list>
      </div>
      <div class="col-sm-2">
        <lnr-insurance-partners [title]="'Insurance Partner'"></lnr-insurance-partners>
        <lnr-social-media-block></lnr-social-media-block>
      </div>
      <div class="col-sm-2">
        <lnr-subscribe-input></lnr-subscribe-input>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <mat-divider></mat-divider>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6"></div>
      <div class="col-sm-6"></div>
    </div>

  </div>
</footer>

