<div class="swiper-container" [swiper]="config">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div *ngFor="let response of responses"
           class="swiper-slide cursor-pointer testimonials-list">
        <div class="d-none d-lg-block">
          <img alt=""
               src="{{response.picture}}"/>
        </div>
        <div class="testimonials-list_content">
          <h4 class="main-blue-font-color m-b-1">
            {{response.description[this.apiSeoService.retrieveLocale()]}}
          </h4>
          <p class="dark-font-color">
            {{response.text[this.apiSeoService.retrieveLocale()]}}
          </p>
          <p class="main-blue-font-color">
            {{response.fullname}}
          </p>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
  <div class="d-none d-lg-block">
    <div class="swiper-button-next">
    </div>
  </div>
</div>
