@import 'variables';
@import 'utils/utils';

:host::ng-deep .category {
  .selected-category {
    background-size: 2.7rem !important;

    .mat-select-trigger .mat-select-value {
      padding-left: 3rem;
      padding-top: 0.6rem;
    }
  }

  mat-form-field {
    width: 26.3rem;

    @include if-smaller-than(xs) {
      border: 1px solid $input-border;
      border-radius: 0.4rem;
      width: 100%;
    }

    img {
      margin-right: 1rem;
    }
  }

  mat-icon {
    margin-right: 1rem;
  }

  .select-category-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 35rem;
    @include if-smaller-than(xs) {
      width: 100%;

    }

    .select-category-accessories {
      align-items: center;
      border-radius: 0.5rem;
      color: rgba(85, 85, 85, 1);
      cursor: pointer;
      display: flex;
      margin: 0 0.8rem 1rem 0;
      padding: 0.5rem;
      width: 30%;

      @include if-smaller-than(xs) {
        width: 45%;

      }

      &.activeSelect {
        background: $main-blue;
        color: $white;

        ::ng-deep svg {
          fill: $white !important;

          .mat-icon {
            height: 24px !important;
            width: 24px !important;
          }

          g {
            fill: $white !important;
          }

          path {
            fill: $white !important;
          }
        }

      }
    }
  }
}


