@import "variables";
@import '~swiper/css/swiper.min.css';

.home-page {
  &_content {
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;

    .wrap-main-img {
      position: relative;
      z-index: 1;
      left: -1rem;

      img {
        border-radius: $border-radius;
        width: 100%;
      }
    }
  }

  &_subtitles {
    font-size: 2.6rem;
    color: $dark-text-color;
    margin-bottom: 1rem;
  }
}

@media (max-width: $device-xs) {
  .home-page {
    &_subtitles {
      font-size: 2.3rem;
      text-align: center;
    }
  }
  .wrap-searching-form {
    margin-bottom: -8rem;
  }
}

.wrap-main-img-mobile {
  width: 100%;
  min-height: 40rem;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .home-page_subtitles {
    font-size: 3.2rem;
    color: $white-font-color;
  }
}

.wrap-searching-form {
  padding: 2rem;
  width: 100%;
}

.large-m-t {
  margin-top: 6rem;
}

.large-m-b {
  margin-bottom: 6rem;
}
