@import 'variables';
@import 'utils/utils';

:host::ng-deep .preview-container {
  display: grid;
  grid-template-columns: 50% 50%;

  .bikePhotoContainer {

    display: flex;
    margin-bottom: 2rem;

    .bikeCheckedContainer {
      display: grid;
      grid-template-columns: 23% 77%;
      justify-content: center;

      @include if-smaller-than(xs) {
        grid-template-columns: 30% 77%;

      }

      .imgCheckboxContainer {
        align-items: center;
        display: flex;
        font-size: $h6-fontsize;
        font-style: normal;
        font-weight: 500;
        height: 6rem;
        line-height: 120%;
        width: 7rem;

        input[type='radio'] {
          display: none;
        }

        label.custom-checkbox {
          align-items: center;
          border: 0.1rem solid $input-border;
          box-sizing: border-box;
          display: flex;
          height: 100%;
          justify-content: center;
          max-height: 1.8em;
          max-width: 1.8em;
          width: 100%;
        }

        span {
          margin-left: 1rem;
        }

        input:checked ~ label::before {
          content: '\2714';
        }
      }

      .imgCheckboxButton {
        align-items: baseline;
        display: flex;
        flex-direction: column;
        margin: 1.8rem 2rem 0 0;
      }


      img.myBikePhoto {
        height: 11rem !important;
        width: 16.4rem !important;
      }

      button.remove {
        color: $error-color;
        margin: 0;
        margin-left: -1.6rem;
      }
    }
  }
}
