@import 'src/assets/scss/variables';

#right {
  border: 0.2rem solid $input-border;
  border-radius: 0.4rem;
  box-sizing: border-box;
  margin-left: 4rem;
  margin-top: 9rem;
  min-width: 36rem;
  padding: 1rem;

  > div:last-child {
    margin-top: -2rem;
  }

  div.d-flex {
    border-bottom: 0.1rem solid $input-border;
    box-sizing: border-box;
    font-size: $small-fontsize;
    line-height: 2.4rem;
  }

  div.dates {
    border: 0.1rem solid $input-border;
    border-radius: 0.4rem;
  }

  div.d-flex:last-child {
    border: none;
    font-weight: 500;
    line-height: 250%;

  }

  span {
    font-size: $base-font_size;
    font-weight: 500;
    line-height: 250%;
    padding: 0.1rem 0;

  }

  button {
    background: $main-green;
    border: none;
    border-radius: 0.4rem;
    color: $white;
    font-size: $base-font_size;
    font-weight: bold;
    line-height: 1.9rem;
    margin: 1rem 0 3rem;
    width: 100%;

  }

  input {
    border: 0.1rem solid $input-border;
    border-radius: 0.4rem;
    height: 5rem;
    padding-left: 2rem;
    width: 100%;

  }

  textarea::placeholder {
    color: black;
  }
}

@media (max-width: $device-xs) {
  #right {
    margin: 4rem 0;
    min-width: 100%;

  }
}
