@import "../../../../../../../assets/scss/variables";

.select-languages {
  mat-select {
    width: 14rem;
    height: inherit;

    .mat-select-value-text {
      color: $white-font-color;
    }
  }
}
