<div class="lnr-checkbox" [formGroup]="parentForm" *ngIf="parentFormGroupName">
  <div class="flex" [formGroupName]="parentFormGroupName">
    <mat-checkbox [formControlName]="parentFormControlName"></mat-checkbox>
    <p>
      <small> I hereby agree to the
        <lnr-link [href]="'/terms'" [text]="'Terms and Conditions'"></lnr-link>
        and agree to the collection, processing and use of my personal
        data as further described in the
        <lnr-link [href]="'/privacy'" [text]="'Privacy Policy'"></lnr-link>
        .
      </small>
    </p>
  </div>
</div>

<div class="lnr-checkbox flex" [formGroup]="parentForm" *ngIf="!parentFormGroupName">
  <mat-checkbox [formControlName]="parentFormControlName"></mat-checkbox>
  <p>
    <small> I hereby agree to the
      <lnr-link [href]="'/terms'" [text]="'Terms and Conditions'"></lnr-link>
      and agree to the collection, processing and use of my personal
      data as further described in the
      <lnr-link [href]="'/privacy'" [text]="'Privacy Policy'"></lnr-link>
      .
    </small>
  </p>
</div>


