.lnr {
  .lnr-w-100 {
    width: 100%;
  }

  .lnr-mrg-btm {
    margin-bottom: 1.34375em;
  }

  .lnr-d-flex {
    display: flex;
  }

  .lnr-space-btw {
    justify-content: space-between;
  }

  .lnr-text-align-ctr {
    text-align: center;
  }
}
