// TODO: remove this styles after apply Mariya's styles

.lnr {
  .lnr-w-100 {
    width: 100%;
  }

  .lnr-mrg-btm {
    margin-bottom: 24px;
  }

  .lnr-d-flex {
    display: flex;
  }

  .lnr-space-btw {
    justify-content: space-between;
  }

  .lnr-text-align-ctr {
    text-align: center;
  }

  .lnr-text-align-r {
    text-align: center;
  }

  .lnr-text-align-l {
    text-align: center;
  }
}
