@import "../../../../../assets/scss/variables";

.brands-list {
  border-radius: $border-radius;
  width: 32rem !important;
  height: 21rem !important;
  background-position: center;
  background-size: cover;
  margin-right: 1rem;
  margin-left: 1rem;

  &:hover {
    opacity: 0.8;
  }
}

@media (max-width: $device-sm) {
  .swiper-slide {
    width: 17.4rem;
  }
  .brands-list {
    img {
      width: 16rem;
      height: 10rem;
    }
  }
}
