//@import "../../../../assets/scss/variables";
//
//.lnr-form-input {
//  width: 100%;
//
//  &_input {
//    width: 100%;
//
//    input {
//      padding: 1.2rem;
//      border: 0.1rem solid $input-border;
//      border-radius: 0.4rem;
//      width: 100%;
//      color: $black;
//      font-size: $small-fontsize;
//
//      &::placeholder {
//        color: $light-text-color;
//        font-weight: 300;
//      }
//
//      &:-webkit-autofill {
//        background-color: $input-autofill-color;
//        background-image: none;
//      }
//    }
//
//    .mat-form-field-label {
//      font-weight: 500;
//    }
//  }
//}
//
//
//.lnr-form-input {
//  &_input.mat-focused {
//    input {
//      border: 0.1rem solid $main-blue;
//      font-size: $small-fontsize;
//    }
//
//    ::ng-deep .mat-form-field-label {
//      color: $main-blue;
//    }
//  }
//}
//
//.lnr-form-input .ng-valid {
//  &_input.mat-focused {
//    input {
//      border: 0.1rem solid $submit-button-color;
//      font-size: $small-fontsize;
//    }
//
//    ::ng-deep .mat-form-field-label {
//      color: $submit-button-color;
//    }
//  }
//}


@import "../../../../assets/scss/variables";

::ng-deep.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 1.2rem 0 1.2rem 0;
}

::ng-deep.mat-form-field-label .mat-form-field-type-mat-input {
  font-weight: 500;
  top: 0;
  left: -0.8rem;
  font-size: $h5-fontsize;
}

::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-outline-gap {
  border-top-color: currentColor;
}

::ng-deep.mat-form-field-type-mat-input {

  .mat-form-field-label-wrapper {
    position: initial;
  }
}

::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label .mat-form-field-type-mat-input {
  transform: translateY(-3.5em) scale(0.75);
}

::ng-deep.mat-form-field.mat-form-field-type-mat-input._mat-animation-noopable .mat-form-field-label {
  transform: translateY(-4.8rem) scale(0.9);
  left: -1rem;
}
