@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/utils/mixins";

.timeline {
  position: relative;
  max-width: 100%;
  margin: 0 auto;

  ::after {
    content: '';
    position: absolute;
    width: 0.4rem;
    background-color: $black;
    top: 0;
    bottom: 0;
    left: 30%;
  }

  .time-line-block {
    &_left {
      left: 0;
      width: 30%;
    }

    &_content {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        width: 1.8rem;
        height: 1.8rem;
        margin-left: -0.7rem;
        background: white;
        border: 0.4rem solid $black;
        z-index: 1;
        border-radius: 50%;
      }
    }

    &_right {
      left: 50%;
      width: 70%;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;

      img {
        max-width: 36rem;
        width: 100%;
        height: 22rem;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}

@include if-smaller-than(md) {
  .timeline {
    .time-line-block {
      &_right {
        display: flex;
        flex-direction: column;
        font-size: $h5-fontsize;
      }
    }
  }
}

@include if-smaller-than(xs) {
  .timeline {
    ::after {
      border: 0.2rem solid $black;
      left: 5%;
      width: 0.2rem;
    }

    .time-line-block {
      &_right {
        width: 100%;
        align-items: center;
        padding-left: 3rem;

        img {
          max-width: 28rem;
          width: 100%;
          height: 16rem;
        }
      }
    }
  }
}
