// transition variables
$duration: 0.35s;
$duration_long: 0.75s;
$easing: cubic-bezier(0.3, 0.1, 0.3, 1);

// breakpoints
$responsive-breakpoints: (
  xxs:  420px,
  xs:   540px,
  md:   768px,
  tablet: 1100px,
  lg:   1200px,
  xl:   1600px
);
