<div class="container">
  <div class="row filters-toolbar">
    <div class="col-2 justify-content-start">
      <div class="filters-close"
           (click)=close()>
        <mat-icon>close</mat-icon>
      </div>
    </div>
    <div class="col-8 filters-label">
      <span>FILTERS</span>
    </div>
    <div class="col-2">
      <span (click)=reset()>Reset</span>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <form [formGroup]="filtersForm">
        <div class="row">
          <mat-form-field appearance="outline">
            <input matInput
                   class="filter-input"
                   placeholder="Choose a date"
                   formControlName="date"
                   [max]="maxDate"
                   [satDatepicker]="resultPicker"
                   (dateInput)="onDateInput($event)"
                   (dateChange)="onDateChange($event)">
            <sat-datepicker panelClass="hdd-datepicker"
                            #resultPicker [rangeMode]="true">
            </sat-datepicker>
            <sat-datepicker-toggle matSuffix [for]="resultPicker"></sat-datepicker-toggle>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Size</mat-label>
            <mat-select placeholder="Size" formControlName="size">
              <mat-option *ngFor="let size of sizeList" [value]="size.value">{{size.text}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Type</mat-label>
            <mat-select placeholder="Type" formControlName="type" multiple>
              <mat-optgroup class="category" *ngFor="let type of typeList" [label]="type.type">
                <mat-option *ngFor="let category of type.categories"
                            [value]="category.value">{{category.text}}</mat-option>
              </mat-optgroup>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Brand</mat-label>
            <mat-select placeholder="Type" formControlName="type" multiple>
              <mat-option *ngFor="let brand of brandList" [value]="brand.value">{{brand.text}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="sorting-filter">
            <mat-label>Sorting</mat-label>
            <mat-select placeholder="Type" formControlName="sorting">
              <mat-option *ngFor="let sort of sortList" [value]="sort.value">{{sort.text}}</mat-option>
            </mat-select>
          </mat-form-field>
          <button
            mat-flat-button
            class="btn-clear-filters"
            (click)=reset()>
            Clear Filters
          </button>
        </div>
        <div class="row submit-container">
          <button
            mat-flat-button
            class="btn-filter-submit"
            color="primary"
            (click)=applyFilters()>
            Apply
          </button>
        </div>
      </form>
    </div>
  </div>
</div>


