@import "../../../../../assets/scss/variables";

.lnr-white-link {
  transition: opacity .2s ease-in-out;
  line-height: 2rem;
  font-size: $small-fontsize;
  font-weight: 400;
  letter-spacing: .01em;

  &:hover {
    color: $light-grey;
  }
}
