<div class="row">
  <div class="col-md-11 col-sm-12 offset-md-1 m-t-2 m-b-2">
    <h3 class="subtitles" *ngIf="cities">
      Popular bike rental locations
      in {{cities[0].seo_country.name[this.apiSeoService.retrieveLocale()]}}:</h3>
  </div>
</div>
<div class="row popular-destination-list text-center">
  <div *ngFor="let city of cities" class="wrap-destination col-lg-2 col-md-4 col-sm-6">
    <div class="flex direction-column">
      <h5 class="main-blue-font-color thin">
        {{city.name[this.apiSeoService.retrieveLocale()]}}
      </h5>
      <p>€{{city.average_price | number: '1.0-0'}} / day average</p>
    </div>
  </div>
</div>

