@import 'variables';


#right > div:last-child {
  margin-top: -2rem;
}

@media (max-width: $device-xs) {
  #right {
    margin: 4rem 0;
    min-width: 100%;

  }
}

.header {
  color: $dark-text-color;
  display: flex;
  font-size: 3rem;
  font-weight: bold;
  justify-content: flex-start;
  line-height: 120%;
  margin: 4rem auto;
  padding: 0 10%;
}

:host::ng-deep {
  .mat-select {
    font-size: $h5-fontsize;
    font-weight: normal;
    line-height: 150%;

    .mat-select-trigger {
      border: 0.1rem solid $input-border;
      border-radius: 0.4rem;
      padding: 0.5em 1em;

      .mat-select-arrow {
        color: $input-border;
      }
    }

  }

  .mbsc-material {
    font-size: $h5-fontsize;
    font-weight: normal;
    line-height: 150%;
    position: relative;

    .arrow-right {
      background-image: url('./../../../assets/img/arrow-right.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 100%;
      margin-right: 0.5rem;
      width: 5.5rem;
      //position:;

    }

    &.mbsc-control-w {
      margin: 0.2em 1em;
    }

    &.mbsc-input {
      .mbsc-control {
        border: none;
      }
    }
  }
}

:host::ng-deep .stepper-container {
  width: 100%;

  h4 {
    color: $dark-text-color;
    font-size: $h4-fontsize;
    font-weight: normal;
    line-height: 120%;
  }

  h5 {
    color: $dark-text-color;
    font-size: $h5-fontsize;
    font-style: normal;
    font-weight: normal;
    line-height: 150%;
  }

  lnr-phone-verification {
    div.dropdown-menu {
      div.search{}
    }
  }

  ::ng-deep #requestFlow-stepper {
    font-size: $h5-fontsize;
    left: 20%;
    margin-top: 9rem;

    .mat-horizontal-stepper-header {
      border-bottom: 0.2rem solid white;
      box-sizing: border-box;

      cursor: pointer;
      padding: 2rem 0 0;
      transition: 0.5s all;

      div {
        &.mat-step-icon {
          height: 2.8rem;
          width: 2.8rem;
        }

        &.mat-step-icon-state-done.mat-step-icon {
          background: $main-green;
        }
      }

      .mat-step-label-active.mat-step-label-selected {
        opacity: 1;
      }

      .mat-step-label {
        font-size: $base-font_size;
        width: 14.4rem;
      }
    }

    .mat-horizontal-stepper-content {
      .mat-form-field-wrapper,
      .mat-form-field-infix,
      .mat-form-field-infix .mat-select {
        margin-top: 0;
        padding: 0;

        .mat-select-trigger {
          padding: 0 1.4rem;
        }
      }
    }

    .mat-horizontal-content-container {
      padding-top: 4rem;

      [aria-labelledby='cdk-step-label-0-1'] {
        h4 {
          margin-bottom: 3rem;
        }
      }

      lnr-auth-login-dialog {
        .lnr-dialog-header {
          display: none;
        }

        mat-dialog-content > mat-form-field {
          margin-bottom: 2rem;
        }
      }

      lnr-address {
        div.row {
          margin: 3rem -1.5rem;
        }
      }

    }
  }

  ::ng-deep mat-vertical-stepper#requestFlow-stepper {
    margin: 0 auto;
    width: 100%;

    lnr-step-duration {
      .main_container {
        height: 100%;
        width: 100%;

        .leftContainer {
          grid-template-columns: 100%;

          .container {
            grid-template-columns: 40% 70%;
            margin: 2rem 0;

          }
        }
      }

      .insurance_container {
        grid-template-columns: 100%;

        .premium_insurance {
          border: none;
          border-bottom: 0.1rem solid $input-border;
          padding-bottom: 2rem;

          button {
            margin: 1.7rem 1rem 1rem 2rem;

          }
        }

        .voucher {
          margin: 2rem 0;
          padding: 0;

          .input_voucher {
            input {
              width: 14rem;
            }
          }
        }
      }

    }

    lnr-auth-login-dialog {
      .lnr-dialog-header {
        display: none;
      }
    }

    lnr-step-payment {
      div.pay {
        padding: 2rem 0;
      }
    }

  }


  .button-container {
    display: flex;
    justify-content: flex-end;
  }

  .mat-horizontal-stepper-content {
    .duration {
      display: flex;
      flex-direction: column;

      div.container {
        display: flex;

        #left {
          width: 70%;

          .leftContainer {
            display: grid;
            grid-template-columns: 30% 70%;

            img {
              width: 100%;
            }

            div {
              margin-left: 2rem;
            }
          }
        }
      }
    }
  }


  ::ng-deep {
    .mat-button-stepper {
      height: 4.2rem;
      margin: 4rem 4% 4rem 0;
      width: 16.6rem;

      &[disabled] {
        background: $submit-button-color-disabled;
      }
    }

    div.ng-trigger.ng-trigger-transformPanel.mat-select-panel.mat-primary {
      height: 30rem !important;
    }


  }


  @media(max-width: $device-md) {
    .preview-container {
      grid-template-columns: 100%;

      .imgCheckboxContainer {
        input {
          width: 3.4rem !important;
        }
      }
    }
  }


  @media (max-width: $device-sm) {
    .mat-stepper-horizontal {
      padding: 0 5%;
      width: 100%;
    }

    .header {
      padding: 0 10%;
      width: 100%;
    }

    .mat-horizontal-stepper-header-container {
      display: flex;
      justify-content: space-around;
      left: 20%;

      .mat-horizontal-stepper-header {
        padding: 0 !important;
      }
    }

    #location-container {
      .location-container {
        display: grid;
        grid-template-columns: 100%;
      }
    }

    #pricing-container {
      .pricing-container,
      .customised {
        display: grid;
        grid-template-columns: 100%;
        width: 100%;

        mat-form-field {
          display: flex;
          max-width: 100%;

          .mat-form-field-wrapper {
            width: 90%;
          }
        }
      }
    }

    .stepper-container.preview-container.bikePhotoContainer.bikeCheckedContainer.imgCheckboxContainer.custom-checkbox {
      width: 3.4rem;
    }
  }

}

:host::ng-deep .red-snackbar {
  background: $error-color;
}

:host::ng-deep .green-snackbar {
  background: $submit-button-color;
}

.message {
  align-items: center;
  display: flex;
  height: 60vh;
  justify-content: center;
  width: 100%;
}

:host::ng-deep .mat-select-panel {
  max-height: 35rem !important;
}
