@import '../../../../assets/scss/variables';

mat-header-row {
  background-color: $table-header-color;
  position: sticky;
  top: 6rem !important;

  @media (max-width: $device-xs) {
    top: 10rem !important;
  }
}

.element-row {
  position: relative;
}

.element-row {
  cursor: pointer;
}

.element-row:hover {
  background: $table-header-color;
}


.element-row.disabled {
  opacity: 0.3;
}
