<div class="container">
  <div class="lnr-mrg-btm"></div>
  <div class="row lnr-mrg-btm">
    <div class="col-md-8 lnr-d-flex lnr-flex-align-center">
      <lnr-profile-picture></lnr-profile-picture>
      <div>
        <h3>{{ user?.firstName }} {{ user?.lastName }}</h3>
        <rating
          #rating
          [max]="5"
          [titles]="['1', 'two', 'three', 'four', 'five']"
          readonly="true"
        ></rating>
        <p>{{ user?.city }}, {{ user?.country }}</p>
      </div>
    </div>
    <div class="col-md-4">
      <lnr-user-verified-through [user]="user"></lnr-user-verified-through>
    </div>
  </div>

  <div class="row lnr-mrg-btm">
    <div class="col-sm-12">
      <lnr-divider></lnr-divider>
    </div>
  </div>

  <div class="row lnr-mrg-btm">
    <div class="col-sm-12">
      <lnr-user-description [user]="user"></lnr-user-description>
    </div>
  </div>

  <div class="row lnr-mrg-btm">
    <div class="col-sm-12">
      <lnr-user-availability [user]="user"></lnr-user-availability>
    </div>
  </div>

  <div class="row lnr-mrg-btm">
    <div class="col-sm-12">
      <lnr-user-rental-bikes [user]="user"></lnr-user-rental-bikes>
    </div>
  </div>
</div>
