<form class="pictureLoader" [formGroup]="paymentMethodFormGroup">

  <div class="row" *ngIf="!isPaymentRequestFlow">
    <div class="col-sm-12 col-md-2 offset-md-1" *ngIf="!isPaymentRequestFlow">
      <h6>Payment method</h6>
    </div>

    <ng-container *ngIf="mode === 'view' && !isPaymentRequestFlow">
      <div class="col-sm-12 col-md-8">
        <div class="row">
          <div class="col-sm-10">
            <table class="lnr-table-info">
              <tr>
                <td>Type:</td>
                <td>{{getType}}</td>
              </tr>

              <tr>
                <td>{{getType === 'credit-card' ? 'Card number:' : 'Paypal:'}}</td>
                <td>{{currentPayment}}</td>
              </tr>
            </table>
          </div>
          <div class="col-sm-2 lnr-text-align-r">
            <button mat-button class="lnr-btn-edit" (click)="openUpdate()">
              <mat-icon>edit</mat-icon>
              Edit
            </button>
          </div>
        </div>
      </div>
    </ng-container>


    <div class="col-sm-12 col-md-8" *ngIf="mode === 'update'">
      <p>Your payment method is used to pay for your rentals. It can be a credit card or paypal account</p>
      <p><b>Please pick a payment method</b></p>
      <div class="row col-sm-12 col-md-8">
        <div class="row col-sm-6 col-md-6 align-items-center">
          <input type="radio" formControlName="payment" name="payment" id="credit_card_set" value="credit_card"
                 [(ngModel)]="payment">
          <label class="ml-4" for="credit_card_set">Credit Card</label>
        </div>
        <div class="row col-sm-6 col-md-6 align-items-center">
          <input type="radio" formControlName="payment" name="payment" id="paypal_set" value="paypal"
                 [(ngModel)]="payment">
          <label class="ml-4" for="paypal_set">Paypal</label>
        </div>
      </div>

      <lnr-payment-method-credit-card
        *ngIf="payment === 'credit_card'"
        [isPaymentRequestFlow]="isPaymentRequestFlow"
        [mode]="mode"
        (onAuthorize)="goToNext()"
        (onClose)="mode = 'view';payment = ''"
        class="lnr-mrg-btm"
        [user]="user">
        <!--        (onError)=""-->
      </lnr-payment-method-credit-card>
      <lnr-payment-method-pay-pal
        (onAuthorize)="goToNext()"
        (onCancel)="mode = 'view';payment = ''"
        [user]="user"
        *ngIf="payment === 'paypal'"
      >
      </lnr-payment-method-pay-pal>

    </div>
    <div class="col-sm-12 col-md-6 offset-md-3 mt-4">
      <small>The <a>Privacy Policy</a> of listnride applies.</small>
    </div>
  </div>

  <div *ngIf="isPaymentRequestFlow">
    <h3 class="bold" *ngIf="mode === 'update' && isPaymentRequestFlow">Select your Payment Method</h3>
    <p *ngIf="mode === 'update'">Please select your favourite payment method. We only charge you after lister accepted
      your request.</p>
    <div class="paymentMethod" *ngIf="mode === 'update' && isPaymentRequestFlow">
      <div class="pay">
        <div>
          <div class="payment-change">
            <div>
              <input type="radio" formControlName="payment" id="credit_card" value="credit_card"
                     [(ngModel)]="payment">
              <label for="credit_card" class="custom-checkbox"></label>
            </div>
            <span class="bold">Credit Card</span>
          </div>
          <div>
            <img [src]="mastercard" alt="mastercard">
            <img [src]="visa" alt="visa">
          </div>
        </div>
        <lnr-payment-method-credit-card
          *ngIf="payment === 'credit_card'"
          [isPaymentRequestFlow]="isPaymentRequestFlow"
          [mode]="mode"
          (onAuthorize)="goToNext()"
          class="lnr-mrg-btm"
          [user]="user">
          <!--        (onError)=""-->
        </lnr-payment-method-credit-card>
      </div>

      <div class="pay">
        <div>
          <div class="payment-change">
            <div>
              <input type="radio" formControlName="payment" id="paypal" value="paypal" [(ngModel)]="payment">
              <label for="paypal" class="custom-checkbox"></label>
            </div>
            <span class="bold">Paypal</span>
          </div>
          <img [src]="paypal" alt="">
        </div>
        <lnr-payment-method-pay-pal
          (onAuthorize)="goToNext()"
          [user]="user"
          *ngIf="payment === 'paypal'"
          [isPaymentRequestFlow]="isPaymentRequestFlow"
        >
        </lnr-payment-method-pay-pal>
      </div>

    </div>
    <div *ngIf="user.paymentMethod && mode === 'update' && isPaymentRequestFlow" class="current-paymentMethod">
      <h3 class="bold">Current payment method</h3>
      <div class="paymentMethod" *ngIf="getType">
        <div class="pay current">
          <div>
            <div class="payment-change">
              <div>
                <input type="radio" formControlName="payment" id="credit_card_current"
                       value="credit_card_current"
                       [(ngModel)]="payment">
                <label for="credit_card_current" class="custom-checkbox" checked="true"></label>
              </div>
              <span class="bold">Credit Card {{currentPayment}}</span>
            </div>
            <div>
              <img *ngIf="getType === 'credit-card'"
                   [src]="mastercard" alt="mastercard">
              <img *ngIf="getType === 'credit-card'"
                   [src]="visa" alt="visa">
              <img *ngIf="getType === 'paypal-account'"
                   [src]="paypal" alt="paypal">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 mt-4">
      <small>The <a>Privacy Policy</a> of listnride applies.</small>
    </div>
  </div>
</form>
