.password-tips {
  line-height: 1.67;
  color: rgba(61, 65, 71, 0.56);

  &.wrapper {
    // margin: 12px 0px 24px;
    margin-bottom: 16px;
  }

  .password-tip {
    font-size: 12px;
    display: flex;
    align-items: center;

    &.confirmed {
      color: green;
    }

    mat-icon {
      color: inherit;
      margin-right: 10px;
    }
  }
}

.toggle-visibility {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 24px;
  display: block;
  height: 33px;
  opacity: .3;
  cursor: pointer;
}
