@import "variables";
@import "utils/utils";

mat-progress-bar {
  position: fixed;
  bottom: 0;
  z-index: 100;
}

.wrap-search-page-layout {
  display: flex;
  flex-direction: row;

  @include if-smaller-than(xs) {
    flex-direction: column;
  }

  .map-container {
    flex: 0 0 30%;

    @include if-smaller-than(tablet) {
      flex: 1;
    }

    agm-map {
      display: flex;
      height: calc(100vh + 20rem);
      width: 30vw;

      @include if-smaller-than(tablet) {
        flex: 1;
        width: 100vw;
      }
    }
  }

  .content {
    display: flex;
    flex: 0 0 70%;
    flex-direction: column;
    margin: 0 auto;
    overflow: scroll;

    @include if-smaller-than(xs) {
      flex: 0 0 100%;
      height: auto;
    }

    .toolbar {
      width: 100%;
      max-width: 1200px;
      display: flex;
      flex-direction: column;
      margin: 0 auto;

      .sub-toolbar {
        display: flex;
        flex: 1 1 100%;
        justify-content: space-between;
        flex-direction: row;
        border-top: 0.1rem solid $light-grey;
        border-bottom: 0.1rem solid $light-grey;
        margin: 1rem 0;

        @include if-smaller-than(xs) {
          border: none;
        }
      }

      .bikes-for-rent, .bikes-for-groups {
        display: flex;
        font-weight: 400;
        padding: 1rem;

        @include if-smaller-than(xs) {
          font-size: $small-fontsize !important;
        }
      }

      .bikes-for {
        &-rent {
          align-self: flex-start;
          color: $dark-text-color;
          font-size: $h5-fontsize;
        }

        &-groups {
          align-self: flex-end;
          color: $submit-button-color;
          font-size: $h6-fontsize;
        }
      }

      @include if-smaller-than(xs) {
        display: flex;
        border-top: 0.1rem solid $light-grey;
      }
    }

    .mobile-toolbar {
      width: 100vw;
      flex-direction: row;
      padding: 1.6rem 0.4rem;
      transition: all ease-out 0.7s;
      display: flex;

      .toggle {
        display: flex;
        flex-direction: row;
        background-color: $white-font-color;
        border: 0.1rem solid $light-grey;
        border-radius: 0.2rem;
        padding: 1rem 0.5rem;
        cursor: pointer;

        span {
          margin-top: 0.4rem;
          margin-left: 0.4rem;
          color: $dark-text-color;
          font-weight: bold;
          font-size: $small-fontsize;
          line-height: 1.4rem;
          letter-spacing: 0.5px;
          text-transform: uppercase;
        }
      }

      .toggle-filters {
        align-self: flex-start;

        .mat-icon {
          color: $submit-button-color;
        }
      }

      .toggle-sorting {
        width: 4rem;
        align-self: flex-start;
        margin-left: 1rem;

        .mat-icon {
          color: $submit-button-color;
        }
      }

      .toggle-map {
        align-self: flex-end;
        margin-left: auto;

        .mat-icon {
          color: $main-blue;
        }
      }

      @include if-smaller-than(xs) {
        display: flex;
      }
    }

    .bike-grid {
      display: flex;
      flex: 1;
      flex-wrap: wrap;
      flex-direction: row;
    }
  }
}


@include if-bigger-than(xl) {
  .bike-tile-grid {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (min-width: $device-md) and (max-width: $device-lg) {
  .bike-tile-grid {
    flex: 0 0 33%;
    max-width: 33%;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
}

@include if-bigger-than($device-lg) {
  .bike-tile-grid {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
}

@include if-smaller-than(tablet) {
  .wrap-search-page-layout {
    display: flex;
    flex-direction: column;
  }
}

.wrap-bike-tile-grid {
  height: 100vh;
}
