.lnr {
  button {
    outline: none;
    cursor: pointer;
    font-weight: normal;
    letter-spacing: .5px;

    &:focus {
      outline: none;
    }

    &.lnr-btn-edit {
      mat-icon {
        font-size: 17px;
        line-height: 22px;
      }
    }

    &.lnr-btn-back{
      font-weight: bold;
      color: #555555;
      mat-icon {
        font-size: 23px;
        line-height: 15px;
        margin-top: -3px;
      }
    }
  }

  .lnr-btn-link {
    border: none;
    padding: 0;
    background: transparent;
    // TODO: add var
    color: green;
    font-size: 14px;
    font-weight: 500;
    height: 18px;

    &:hover {
      text-decoration: underline;
    }

  }

  .lnr-fb-button, .lnr-fb-button.mat-primary {
    background-color: #3b5998;
  }
}
