// TODO: add color from variable

a {
  color: #5fc693;

  &:hover {
    color: #5fc693;
  }

  &:not([href]) {
    color: #5fc693;
    cursor: pointer;

    &:hover {
      color: #5fc693;
      text-decoration: underline;
    }
  }

  &.disabled {
    color: #00000042 !important;

    &:hover {
      text-decoration: none;
    }
  }
}
