<div #adyenDropin>
  <div class="row">
    <div class="col-md-6 col-xl-4">
      <mat-form-field appearance="outline" class="lnr-w-100">
        <mat-label>Holder name</mat-label>
        <input
          matInput
          [formControl]="holderNameControl"
          type="text"
          placeholder="Enter holder name"
        />
        <mat-error
          *ngIf="holderNameControl.touched && holderNameControl.errors"
        >
          <span *ngIf="holderNameControl.errors.minlength"
            >Min length is 2</span
          >
          <span *ngIf="holderNameControl.errors.maxlength"
            >Max length is 100</span
          >
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-6 col-xl-4">
      <mat-form-field appearance="outline" #numberInput class="lnr-w-100">
        <mat-label>Card number</mat-label>
        <div
          class="lnr-adyen-input-holder"
          data-cse="encryptedCardNumber"
        ></div>
        <input matInput [hidden]="true" required />
        <mat-hint>
          <span [hidden]="!cardNumberError">{{ cardNumberError }}</span>
        </mat-hint>
      </mat-form-field>
    </div>

    <div class="col-sm-6 col-xl-2">
      <mat-form-field appearance="outline" #expDateInput class="lnr-w-100">
        <mat-label>Exp. date</mat-label>
        <div
          class="lnr-adyen-input-holder"
          data-cse="encryptedExpiryDate"
        ></div>
        <input matInput [hidden]="true" required />
        <mat-hint>
          <span [hidden]="!expDateError">{{ expDateError }}</span>
        </mat-hint>
      </mat-form-field>
    </div>

    <div class="col-sm-6 col-xl-2">
      <mat-form-field appearance="outline" #cvcInput class="lnr-w-100">
        <mat-label>CVC/CVV</mat-label>
        <div
          class="lnr-adyen-input-holder"
          data-cse="encryptedSecurityCode"
        ></div>
        <input matInput [hidden]="true" required />
        <mat-hint>
          <span [hidden]="!cvcError">{{ cvcError }}</span>
        </mat-hint>
      </mat-form-field>
    </div>
  </div>
</div>
