<div class="booking-widget-wrapper" *ngIf="prices">
  <lnr-prices-section *ngIf="isPricesSectionShown" [prices]="prices">
  </lnr-prices-section>
  <div class="pb-3">
    <p class="pt-3">
      Dates
    </p>
    <lnr-date-range-picker
      *ngIf="unavailableDates; else loading"
      [datesRange]="selectedDates"
      [engagedDays]="unavailableDates"
      [engagedHours]="unavailableHours"
      [isHalfDay]="isHalfDay"
      [timeSlots]="timeSlots"
      (datesRangeSet)="onDatesRangeSet($event)"
      [onNextMonthRequest]="onNextMonthRequest"
      [className]="['date-range-picker']"
    >
    </lnr-date-range-picker>

    <div
      *ngIf="isHalfDay && dayHalves?.length"
      class="d-flex justify-content-between"
    >
      <button
        mat-flat-button
        *ngFor="let half of dayHalves; let i = index"
        class="m-t-2 m-b-2 half-day-option"
        color="accent"
        role="checkbox"
        [disabled]="!half.isAvailable"
      >
        <mat-checkbox
          [(ngModel)]="half.isChecked"
          [disabled]="!half.isAvailable"
        >
          <div class="d-flex flex-column">
            <div class="half-day-name">
              {{ !i ? 'Morning' : 'Afternoon' }}
            </div>
            <div class="div">
              {{ half.hoursAvailable }}
            </div>
          </div>
        </mat-checkbox>
      </button>
    </div>

    <ng-template #loading>
      <div class="loader-spinner-dates">
        <mat-spinner diameter="40"></mat-spinner>
      </div>
    </ng-template>
  </div>
  <div *ngIf="isTimePickerShown">
    <p class="pt-3">
      Time
    </p>
    <div class="d-flex time-pickers">
      <div>
        <mat-label> </mat-label>
        <mat-select
          (openedChange)="onSelectOpen($event, 'start')"
          [placeholder]="
            'Pick up ' + (selectedDates?.startDate | date: 'd MMM')
          "
          [(ngModel)]="startHour"
        >
          <mat-option
            *ngFor="let hour of hourPickerOptions"
            [disabled]="hour.isDisabled"
            [value]="hour.value"
          >
            {{ hour.label }}
          </mat-option>
        </mat-select>
      </div>
      <div>
        <mat-select
          (openedChange)="onSelectOpen($event, 'end')"
          [placeholder]="'Return ' + (selectedDates?.endDate | date: 'd MMM')"
          [(ngModel)]="endHour"
        >
          <mat-option
            *ngFor="let hour of hourPickerOptions"
            [disabled]="hour.isDisabled"
            [value]="hour.value"
          >
            {{ hour.label }}
          </mat-option>
        </mat-select>
      </div>
    </div>
  </div>
</div>
