@import 'variables';

.booking-widget-wrapper {
  margin: auto;
  max-width: 37.5rem;
}

.heading-4 {
  margin-bottom: 0;
}

::ng-deep.loader-spinner-dates {
  height: 3rem;
  margin: auto auto 1rem;
  width: 3rem;
}

::ng-deep.fully-unavailable-day {
  color: $lnr-dang;
}

::ng-deep.half-day-option {
  padding: 0.5rem 0.7rem;

  .mat-checkbox-frame {
    border-color: $white;
  }

  .mat-checkbox-layout .mat-checkbox-label {
    color: $white;
    line-height: 2rem;
  }
}

.time-pickers {
  > div {
    width: 50%;
  }
}
