<div class="row">
  <div class="col-sm-12 col-md-2 offset-md-1">
    <h6>Phone</h6>
  </div>

  <div class="col-sm-12 col-md-7">
    <div class="row">
      <div class="col-sm-12 col-md-8">
        <mat-form-field appearance="outline" class="lnr-w-100">
          <mat-label>Phone</mat-label>
          <input matInput [disabled]="true">
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-4">
        <lnr-phone-update></lnr-phone-update>
      </div>
    </div>
  </div>
</div>
