<lnr-settings-profile-picture></lnr-settings-profile-picture>

<lnr-divider class="lnr-mrg-btm"></lnr-divider>

<lnr-settings-profile-general></lnr-settings-profile-general>

<lnr-divider class="lnr-mrg-btm"></lnr-divider>

<lnr-settings-profile-phone></lnr-settings-profile-phone>

<lnr-divider class="lnr-mrg-btm"></lnr-divider>

<lnr-settings-profile-password></lnr-settings-profile-password>

<lnr-divider class="lnr-mrg-btm"></lnr-divider>

<lnr-settings-profile-address></lnr-settings-profile-address>

<lnr-divider class="lnr-mrg-btm"></lnr-divider>

<lnr-settings-profile-invoice-address></lnr-settings-profile-invoice-address>

<lnr-divider class="lnr-mrg-btm"></lnr-divider>

<lnr-settings-profile-bio></lnr-settings-profile-bio>
