<div class="step-content">
  <h5>Verify your profile</h5>

  <p>We're a close-knit community, so the trust and safety of you and the other users have highest priority. We
    therefore kindly ask you to verify your profile through a few simple steps. The more information you enter, the
    higher are chances for your rental requests to be accepted.</p>
</div>

<div class="step-actions lnr-d-flex lnr-space-btw">
  <button mat-button (click)="close()">Not now</button>

  <button mat-raised-button color="primary" matStepperNext>Let's start</button>
</div>
