@import 'variables';
@import 'utils/utils';

.small-swiper {
  &_list {
    img {
      border-radius: $border-radius;
      width: 100%;
      height: 21rem;
      object-fit: cover;
      margin-left: 1rem;

      &:hover {
        opacity: 0.8;
      }

      @include if-bigger-than(lg) {
        width: 32rem;
      }
      @include if-smaller-than(md) {
        width: 100%;
        height: 10rem;
      }
    }
  }
}
