@import '../../../../../assets/scss/variables';

.main_container {
  border-bottom: 0.1rem solid $input-border;
  box-sizing: border-box;
  height: 30rem;
  margin: 0;
  padding: 0;
  width: 76rem;

  .leftContainer {
    display: grid;
    grid-template-columns: 35% 65%;
    margin-top: 2rem;

    img {
      height: 17.4rem;
      width: 26rem;
    }

    .container {
      display: grid;
      font-size: $h5-fontsize;
      grid-template-columns: 30% 70%;
    }
  }
}

.insurance_container {
  display: grid;
  grid-template-columns: 60% 40%;
  margin-top: 3rem;

  .premium_insurance {
    border-right: 0.1rem solid $input-border;

    div {
      margin-bottom: 1rem;
      margin-top: 2rem;
      width: 100%;

      div {
        display: grid;
        grid-template-columns: 10% 90%;
      }

      mat-icon {
        color: $main-blue;
      }
    }

    button {
      background: $main-green;
      border: none;
      border-radius: 0.4rem;
      color: $white;
      font-size: $base-font_size;
      font-weight: bold;
      height: 4.2rem;
      line-height: 100%;
      margin: 1.7rem 1rem 1rem 4rem;
      width: 20.7rem;

    }
  }

  .voucher {
    padding-left: 2rem;

    h4,
    h5,
    p {
      margin-bottom: 2rem;
    }

    .input_voucher {
      margin-bottom: 3rem;

      input {
        border: 0.15rem solid $input-border;
        border-radius: 0.5rem;
        height: 4.2rem;
        padding-left: 2rem;
        width: 16.7rem;
      }
      input::-webkit-input-placeholder {font-size: $small-fontsize;}
      input::-moz-placeholder {font-size: $small-fontsize;}
      input:-moz-placeholder {font-size: $small-fontsize;}
      input:-ms-input-placeholder {font-size: $small-fontsize;}

      button {
        background: $main-green;
        border: none;
        border-radius: 0.4rem;
        color: $white;
        font-weight: bold;
        height: 4.2rem;
        margin-left: 1rem;
        width: 9.5rem;
      }
    }
  }
}

