<div class="lnr-static-page">
  <div
    class="lnr-static-banner"
    style="background-image: url('./assets/images/lnr_privacy.jpg')"
  ></div>

  <div class="container lnr-text-align-ctr content">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h3 class="title">List and Ride Privacy Policy</h3>

        <h5 class="sub-title">Effective Date: May 24, 2018</h5>

        <p>
          List and Ride commits to strong and transparent privacy practices. Our
          Privacy Policy describes the user information that we gather through
          our services. How we use and disclose these information. The steps we
          take to protect such information. The choices we offer, including how
          to access, update, and remove personal data. Here you can download and
          read our Privacy Policy.
        </p>

        <p>
          Please contact us if you have any questions or comments about our
          privacy practices or this Privacy Policy. You can reach us at
          privacy@listnride.com online.
        </p>

        <a>Click here to deactivate Google Analytics tracking</a>
      </div>
    </div>
  </div>
</div>
