@import "../../../assets/scss/variables";flex direction-column align-items-center

button {
  margin: 0.5rem;

  a {
    text-decoration: none;
    color: $white;
  }
}

mat-form-field {
  margin: 0.5rem;
}
