<div class="content bikes-grid-wrapper">
  <div *ngFor="let bike of bikes$ | async" class="bike-tile-grid col-md-3 col-lg-2 col-xs-1 сol-xl-2">
    <lnr-bike-card [bike]="bike"></lnr-bike-card>
    <div class="bike-toolbar">
      <button mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>alarm</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>alarm</mat-icon>
      </button>
      <button mat-icon-button aria-label="delete">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
