@import "../../../assets/scss/variables";


.header {
  font-weight: bold;
  font-size: 3rem;
  line-height: 120%;
  color: $dark-text-color;
  display: flex;
  justify-content: flex-start;
  padding: 0 10%;
  margin: 4rem auto;
}

.stepper-container {
  width: 100%;

  h3 {
    font-weight: normal;
    font-size: $h5-fontsize;
    line-height: 120%;
    color: $dark-text-color;
  }

  p {
    font-style: normal;
    font-weight: normal;
    font-size: $h6-fontsize;
    line-height: 120%;
    color: $dark-text-color;
  }

  ::ng-deep #listMyBike-stepper {
    left: 20%;

    .mat-horizontal-stepper-header {
      pointer-events: none !important;

      height: 4.8rem;
      cursor: pointer;
      box-sizing: border-box;
      border-bottom: .2rem solid white;
      transition: .5s all;

      &[aria-selected="true"] {
        border-bottom: .2rem solid $main-blue;
      }

      &[aria-selected="false"] {
        opacity: .5;
      }

      div {
        &.mat-step-icon-state-number.mat-step-icon, &.mat-step-icon-state-edit.mat-step-icon {
          display: none !important;
        }
      }

      .mat-step-label-active.mat-step-label-selected {
        opacity: 1;
      }
    }


    .mat-horizontal-stepper-content {

      .mat-form-field-wrapper, .mat-form-field-infix, .mat-form-field-infix .mat-select {
        padding: 0;
        margin-top: 0;
      }
    }
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
  }

  .selected-category {
    background-size: 2.7rem !important;

    ::ng-deep .mat-select-value {
      padding-left: 3rem;
    }
  }

  .category {
    mat-form-field {
      width: 26.3rem;

      img {
        margin-right: 1rem;
      }
    }

    mat-icon {
      margin-right: 1rem;
    }

    .select-category-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 35rem;

      .select-category-accessories {
        background-color: $white;
        width: 30%;
        color: rgba(85, 85, 85, 1.0);
        margin: 0 .8rem 1rem 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 0.5rem;
        border-radius: .5rem;

        &.activeSelect {
          color: $white;
          background: $main-blue;

          ::ng-deep svg {
            fill: $white !important;

            .mat-icon{
              height: 24px !important;
              width: 24px !important;
            }

            g {
              fill: $white !important;
            }

            path {
              fill: $white !important;
            }
          }

        }
      }
    }
  }


  ::ng-deep {
    .mat-button-stepper {
      width: 16.6rem;
      height: 4.2rem;
      margin: 4rem 4% 4rem 0;

      &[disabled] {
        background: $submit-button-color-disabled;
      }
    }

    div.ng-trigger.ng-trigger-transformPanel.mat-select-panel.mat-primary {
      height: 300px !important;
    }

    .mat-horizontal-stepper-content .category .mat-form-field-flex {
      background: $white;
      padding: 0;
      width: 26.3rem;

      .mat-select-placeholder, .mat-select-value-text {
        font-size: 1.4rem;
        line-height: 150%;
      }

      .mat-select {
        border: .1rem solid $input-border !important;
        border-radius: .3rem;
        height: 4.2rem;
        align-items: center;
        display: grid;
      }

      .mat-select-arrow, .mat-select-invalid {
        color: $input-border !important;
      }

      .ng-valid .mat-select-arrow {
        color: $grey-background !important;
      }

      .mat-select-placeholder {
        color: $grey-background;
      }

      .mat-select-arrow-wrapper {
        transform: none;
      }

      .mat-select-trigger {
        border-radius: .3rem;
        padding: .6rem 1.3rem;
      }
    }

    .active {
      background: $submit-button-color !important;
      font-weight: bold;
      font-size: $h6-fontsize;
      line-height: $h4-fontsize;
      text-align: center;
      color: $white;
    }

    ::ng-deep div.mat-stepper-horizontal-line {
      display: none !important;
    }

    .header {
      width: 100%;
      max-width: 160rem;
      padding: 0 10%;
    }

    .mat-stepper-horizontal {
      width: 100%;
      max-width: 160rem;
      padding: 0 15%;
    }

    .mat-horizontal-content-container {
      padding: 0 !important;

      .mat-horizontal-stepper-content {
        .mat-form-field-underline {
          display: none !important;
        }

        label, mat-label {
          font-weight: bold;
        }

        .preview-container {
          img {
            width: 16.4rem !important;
            height: 11rem !important;
          }

          .imgCheckboxContainer {
            margin-left: 2rem;
            display: flex;
            flex-direction: row !important;

            input {
              background: $white;
              border: .1rem solid $input-border;
              box-sizing: border-box;
              width: 2.4rem;
              height: 2.4rem;
            }

            label {
              font-weight: 500;
              font-size: $h6-fontsize;
              line-height: 120%;
              margin-left: .5rem;
            }
          }
        }
      }

      label, mat-label {
        font-weight: bold;
      }

      div.mat-form-field-infix {
        div {
          flex-direction: column;

          div.frame-number {
            display: flex;
            flex-direction: row;
            align-items: center;
          }
        }
      }

      div.mat-form-field-infix {
        div {
          flex-direction: column;

          div.frame-number {
            display: flex;
            flex-direction: row;
            align-items: center;
          }
        }
      }

      div.mat-form-field-infix {
        div {
          flex-direction: column;

          div.frame-number {
            display: flex;
            flex-direction: row;
            align-items: center;
          }
        }
      }

      div.button-container.first {
        display: flex;
        justify-content: flex-end;
      }

      div.button-container {
        display: flex;
        justify-content: space-between;
      }
    }

    .pictureLoader {
      p.pictureLoader {
        margin-top: 3.5rem;
      }

      h3 {
        margin-top: 2.3rem;
      }
      .errorMessage{
        color: $error-color;
      }
    }

    #upload-file {
      font-weight: bold;
      font-size: $h6-fontsize;
      line-height: $h4-fontsize;
      text-align: center;
      margin: $h6-fontsize 0 3.4rem 0;
      color: $white;
      background: $submit-button-color;
      border-radius: .4rem;
      padding: 1.2rem 2.6rem 1.0rem 2.4rem;
    }

    #upload {
      visibility: hidden;
    }

    .details {
      h3 {
        margin-top: 4.2rem;
      }

      #details_container, #details_brand_container {
        display: flex;
        margin-top: 3.5rem;
        padding: 0 !important;
        width: 100%;

        mat-form-field {
          margin: 1rem;

          div {
            padding: 0;
          }

          mat-icon {
            padding-left: 1rem;
            cursor: pointer;
            display: table;
          }
        }

        label, mat-label {
          font-weight: 500;
          font-size: $h6-fontsize;
          line-height: 120%;
        }

        input, mat-select, textarea {
          background: none;
          padding: 0 1rem;
          border-width: .1rem;
          border-radius: .4rem;
          border-style: solid;
          line-height: 4rem;
          height: 4.2rem;
          border-color: $input-border
        }

        input.quantity {
          height: 4.2rem;
          background: $white;
          border: .1rem solid $input-border;
          box-sizing: border-box;
          padding: 0 0 0 1rem;
          font-size: $h6-fontsize;
          line-height: 150%;
        }

        label.quantity, mat-form-field.quantity {
          margin-right: .5rem;
          padding: 0;
        }
      }

      #details_container {
        display: grid;
        grid-template-columns: 6.7rem 23% 23% 23% 23%;
      }

      #details_brand_container {
        display: grid;
        grid-template-columns: 50% 50%;

        mat-form-field {
          display: flex;

          div.mat-form-field-wrapper {
            width: 100%;

            .mat-form-field-infix {
              display: flex;
              flex-direction: column;

              input {
                height: 4rem;
                padding: 0 $h6-fontsize;
              }

              textarea.description {
                height: 12.8rem;
                padding: $h6-fontsize;
                width: 95%;
                line-height: 2.56rem;
                min-height: 4rem;
              }
            }
          }

          mat-hint {
            margin-top: 1.5rem;
            margin-right: 3.5rem;
          }
        }
      }
    }

    .addVariants {
      display: flex;
      justify-content: flex-end;
      margin-right: 7%;
      color: $submit-button-color;
      font-style: normal;
      font-weight: normal;
      font-size: $h6-fontsize;
      line-height: 120%;

      a {
        cursor: pointer;
      }
    }

    .category {
      .description {
        margin-top: 4rem;
        margin-bottom: 3rem;
      }

      .description-what {
        margin-bottom: 2rem;
      }

      .mat {
        margin-bottom: 1.5rem;
      }
    }
  }

  .preview-container {
    display: grid;
    grid-template-columns: 50% 50%;

    .bikePhotoContainer {

      display: flex;
      margin-bottom: 2rem;

      .bikeCheckedContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .imgCheckboxContainer {
          display: flex;
          align-items: center;
          font-style: normal;
          font-weight: 500;
          font-size: $h6-fontsize;
          line-height: 120%;

          input[type="radio"] {
            display: none;
          }

          label.custom-checkbox {
            background: $white;
            border: .1rem solid $input-border;
            box-sizing: border-box;
            width: 1.8em;
            height: 1.8em;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          span {
            margin-left: 1rem;
          }

          input:checked ~ label:before {
            content: "\2714";
          }
        }


        img.myBikePhoto {
          width: 16.4rem !important;
          height: 11rem !important;
        }

        button.remove {
          color: $error-color;
          margin: 0;
        }
      }
    }
  }

  #location-container {
    h3 {
      margin-top: 4.5rem;
      margin-bottom: 2rem;
    }

    .location-container {
      display: grid;
      grid-template-columns: 50% 50%;

      #bikeValue.bikeValue {
        width: 100%;

        .mat-form-field-wrapper {

          .mat-horizontal-stepper-content .category .mat-form-field-flex {
            width: 100% !important;
          }
        }
      }

      div {
        mat-form-field, .inner-container {
          margin: .8rem 0;
          padding: 0;
        }

        .inner-container {
          mat-form-field {
            margin: 0;
            padding: 0;
          }
        }
      }

      label, mat-label {
        font-weight: 500;
        font-size: $h6-fontsize;
        line-height: 120%;
        color: $dark-text-color;
      }

      input, mat-select {
        background: none;
        padding: 0 $h6-fontsize;
        border-width: .1rem;
        border-radius: .4rem;
        border-style: solid;
        line-height: 3rem;
        height: 4.2rem;
        border-color: $input-border;
      }
    }
  }

  #pricing-container {
    h3 {
      margin: 4.7rem $h5-fontsize 0;
    }

    p {
      margin: 1rem $h5-fontsize 0;
    }

    .customised {
      margin-top: 3rem;
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      width: 45rem;

      mat-slide-toggle {
        margin-right: 1rem;
      }

    }

    .pricing-container {
      width: 47.8rem;
      margin-top: 3rem;

      label, mat-label {
        font-weight: 500;
        font-size: $h6-fontsize;
        line-height: 120%;
        color: $dark-text-color;
      }

      input, mat-select {
        background: none;
        border-width: .1rem;
        border-radius: .4rem;
        border-style: solid;
        line-height: 4rem;
        height: 4.2rem;
        border-color: $input-border;
        padding: 0 1rem;
      }

      mat-form-field {
        padding: 0;
        margin: 1rem $h5-fontsize;
      }
    }
  }

  @media(max-width: $device-md) {
    .preview-container {
      grid-template-columns: 100%;

      .imgCheckboxContainer {
        input {
          width: 3.4rem !important;
        }
      }
    }
    #details_container {
      display: grid;
      grid-template-columns: 100%;
    }
  }


  @media (max-width: $device-sm) {
    .mat-stepper-horizontal {
      padding: 0 5%;
      width: 100%;
    }
    .header {
      width: 100%;
      padding: 0 10%;
    }

    .mat-horizontal-stepper-header-container {
      left: 20%;
      display: flex;
      justify-content: space-around;

      .mat-horizontal-stepper-header {
        padding: 0 !important;
      }
    }

    #details_brand_container {
      display: grid;
      grid-template-columns: 100%;
    }

    #location-container {
      .location-container {
        display: grid;
        grid-template-columns: 100%;
      }
    }

    #pricing-container {
      .pricing-container, .customised {
        display: grid;
        grid-template-columns: 100%;

        mat-form-field {
          display: flex;
        }
      }
    }

    .stepper-container.preview-container.bikePhotoContainer.bikeCheckedContainer.imgCheckboxContainer.custom-checkbox {
      width: 3.4rem;
    }
  }

}

::ng-deep .red-snackbar {
  background: $error-color;
}

::ng-deep .green-snackbar {
  background: $submit-button-color;
}

.message {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep .mat-select-panel {
  max-height: 350px !important;
}
