
::ng-deep .mat-horizontal-stepper-header-container {
  justify-content: space-around;

  .mat-horizontal-stepper-header {
    //pointer-events: none !important;

    height: 48px;
    cursor: pointer;
    box-sizing: border-box;

    div.mat-step-icon-state-number.mat-step-icon, div.mat-step-icon-state-edit.mat-step-icon {
      display: none !important;
    }

    .mat-step-label-active.mat-step-label-selected {
      opacity: 1;
    }
  }
}

::ng-deep div.mat-stepper-horizontal-line {
  display: none !important;

}
