@import 'variables';
@import 'utils/utils';

:host::ng-deep .details {

  @include if-smaller-than(md) {
    grid-template-columns: 100%;
  }

  h3 {
    margin-top: 4.2rem;
  }

  #details_container,
  #details_brand_container {
    display: flex;
    margin-top: 3.5rem;
    padding: 0 !important;
    width: 100%;

    mat-form-field {
      margin: 1rem;

      div {
        padding: 0;
      }

      mat-icon {
        cursor: pointer;
        display: table;
        padding-left: 1rem;
      }
    }

    label,
    mat-label {
      font-size: $h6-fontsize;
      font-weight: 500;
      line-height: 120%;
    }

    input,
    mat-select,
    textarea {
      background: none;
      border-color: $input-border;
      border-radius: 0.4rem;
      border-style: solid;
      border-width: 0.1rem;
      height: 4.2rem;
      line-height: 4rem;
      padding: 0 1rem;
    }

    input.quantity {
      border: 0.1rem solid $input-border;
      box-sizing: border-box;
      font-size: $h6-fontsize;
      height: 4.2rem;
      line-height: 150%;
      padding: 0 0 0 2rem;
    }

    label.quantity,
    mat-form-field.quantity {
      margin-right: 0.5rem;
      padding: 0;
    }
  }

  #details_container {
    display: grid;
    grid-template-columns: 6.7rem 23% 23% 23% 23%;

    @include if-smaller-than(md) {
      display: grid;
      grid-template-columns: 100%;
    }
  }

  #details_brand_container {
    display: grid;
    grid-template-columns: 50% 50%;

    @include if-smaller-than(sm) {
      display: grid;
      grid-template-columns: 100%;

    }

    mat-form-field {
      display: flex;

      div.mat-form-field-wrapper {
        width: 100%;

        .mat-form-field-infix {
          display: flex;
          flex-direction: column;

          input {
            height: 4rem;
            padding: 0 $h6-fontsize;
          }

          textarea.description {
            height: 14rem;
            line-height: 2.56rem;
            min-height: 4rem;
            padding: $h6-fontsize;
            width: 95%;

            @include if-smaller-than(md) {
              width: 100%;
            }
          }
        }
      }

      mat-hint {
        margin-right: 3.5rem;
        margin-top: 1.5rem;
      }
    }
  }
}

.addVariants {
  color: $submit-button-color;
  display: flex;
  font-size: $h6-fontsize;
  font-style: normal;
  font-weight: normal;
  justify-content: flex-end;
  line-height: 120%;
  margin-right: 7%;

  a {
    cursor: pointer;
  }
}
