<div class="lnr-static-page">
  <div
    class="lnr-static-banner"
    [style.backgroundImage]="'url(' + MAIN_IMAGE_URL + ')'"
  ></div>

  <div class="container lnr-text-align-ctr content">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h3 class="title">
          List and Ride General Terms and Conditions of Business
        </h3>

        <h5 class="sub-title">Last updated: September 9th, 2019</h5>

        <p>
          Please read these Terms carefully as they contain important
          information about your legal rights, remedies and obligations. By
          using the listnride platform, you agree to comply with these Terms.
          Here you can download and read our General Terms and Conditions of
          Business. Thank you for using listnride!
        </p>
      </div>
    </div>
  </div>
</div>
