<div class="lnr-static-page container">
  <div class="row">
    <div class="col-md-8 offset-md-1 m-t-2 m-b-4">
      <h1
        [innerHTML]="'terms-and-conditions.title' | translate"
        class="heading-3"
      ></h1>
      <p [innerHTML]="'terms-and-conditions.subheader' | translate"></p>
    </div>
  </div>
  <div class="m-t-2 m-b-4">
    <lnr-image-text [imageAlign]="'left'" [imageUrl]="MAIN_IMAGE_URL">
      <div class="m-t-2 m-b-2">
        <h4
          class="main-blue-font-color"
          [innerHTML]="'terms-and-conditions.header' | translate"
        ></h4>
        <p [innerHTML]="'terms-and-conditions.subtitle' | translate"></p>
      </div>
    </lnr-image-text>
  </div>
  <lnr-need-help></lnr-need-help>
</div>
