<div class="wrap-top-menu">
  <nav class="align-items-center">
  <!--  <a class=""
       data-target="mobile"
       href="#">
      <i class="material-icons">menu</i>
    </a> -->
    <ul class="row header-list">
      <li class="col-md-3 header-list-item">
        <div class="dropdown">
          <div class="dropdown_submenu">
            Learn more
          </div>
          <div class="dropdown_content">
            <a href="#">How it works</a>
            <a href="#">Listing a bike</a>
            <a href="#">Renting a bike</a>
            <a href="#">Trust & Safety</a>
            <a href="#">Help & Support</a>
          </div>
        </div>
      </li>
      <li class="col-md-3 header-list-item">
        <a href="">List a bike</a>
      </li>
      <li class="col-md-3 header-list-item">
        <lnr-auth-sign-up-button></lnr-auth-sign-up-button>

      </li>
      <li class="col-md-3 header-list-item">
        <lnr-auth-login-button></lnr-auth-login-button>
        <lnr-auth-logout-button></lnr-auth-logout-button>
      </li>
    </ul>
  </nav>
</div>
